

// .xp-wrap {
//     content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 350px;
// 	width: 100%;
//     background: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.6) 60%, rgba(255,255,255,0)) no-repeat;
// }

.XP-nav {
	// margin-top: 100px;
}

.navbar {
    width: 100%;
    height: 110px;
    padding-top: 15px;

    .navbar-top {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        
        .logo {
            width: 329px;
            height: 73px;    
        }
        
        .cart {
            
            .cart-top {
                    font-size: 11px;
                    color: #5eddec;
                
                .cart-icon {
                    background-image: url('./assets/cart.gif');
                    background-repeat: no-repeat;
                    display: inline-block;
                    width:15px;
                    height: 15px;
                    padding-right: 5px;
                }
            }
            
            .cart-bottom {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                .bottom-icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    .navbar-bottom {
        display: flex;
        justify-content: space-between;
        
        .bottom-left {
            display: flex;
            
            .bottom-link {
                width: 90px;
                text-align: center;
                color: black;

                .link-title {
                    font-size: 11.5px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    color: #606162;
                    padding-right: 15px;  
                    display: block;
                    -webkit-margin-before: 1.67em;
                    -webkit-margin-after: 1.67em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    font-weight: bold;
                }
            }

            .small {
                width: 60px;
            }

            .medium {
                width: 120px;
            }

            .big {
                width: 180px;
            }
        }

        .bottom-right {
            display: flex;

            .bottom-input {
                display: flex;
                align-items: center;

                .input-box {
                    width: 140px;
                    height: 13px;
                    font-size: 11px;
                    color: #000;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .input-button {
                    background-color: black;
                    width: 100px;
                    height: 25px;
                    color: white;
                    font: 11px system-ui;
                }
            }
        }
    }
}

.xp {
	margin-top: 100px;
}