.adaptive-wrapper {
    background-color: white;
    width: 100%;
    height: 1300px;
    margin: 180px auto 0px;
    color: #2b2b2b;

    .adaptive-logo {
        background: url('./assets/adaptive_technology.svg') no-repeat;
        height: 100px;
        background-position: center;
        background-size: contain;
        margin: 80px auto 0;
    }

    .adaptive-categories {
        margin: 2em auto 0 !important;

        .categories-wrapper {
            width: 550px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            
            .category {
                display: block;
                height: 100px;
                background-position: center;
                background-size: auto 90px;
            }

            .glacia {
                background: url('./assets/glacia_logo.svg') no-repeat;
                background-position: center;
            }
            .terra {
                background: url('./assets/terra_logo.svg') no-repeat;
                background-position: center;
            }
            .hydra {
                background: url('./assets/hydra_logo.svg') no-repeat;
                background-position: center;
            }
            .third {
                width: 33.3%;
            }
        }
    }


    .adaptive-glasses {
        border: 1px solid green;
        // height: 600px;
        width: 80%;
        margin: 100px auto 0;
        // padding: 0;

        .glasses-row {
            width: 86%;
            margin: 100px auto 0;
            padding: 0;
            display: flex;

            .glasses-item {
                width: 436px;
                height: 286px;
                font-size: 1.2em;
                // border: 1px solid black;

                .item-image-wrapper {
                    max-width: 95%;
                    margin: 0 auto;

                    .item-image-image {
                        width: 100%;
                    }
                }

                .item-content {
                    width: 80%;
                    margin: 0 auto;
                    
                    .item-content-content {

                    }
                    
                    .item-content-logo-hydra {
                        background: url("./assets/hydra_logo.svg") no-repeat;
                        background-size: contain;
                        background-position: center;
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 1em;
                        width: 128px;
                        height: 86px;
                    }

                    .item-bottom-title {
                        // text-align: right;
                        padding-left: 90px;
                        display: inline;
                    }
                }

            }

            .left {
                margin-right:10px;
            } 
        }
    }

}