.table-wrapper {
    width: 974px;
    height: 1014px;
    margin: 20px auto;

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto; 
        grid-column-gap: 15px;
        grid-row-gap: 20px;
        grid-template-areas: 
            "header header header header";
        
        .column-header {
            grid-area: header;
            text-align: center;
        }
    }
}
