.adaptive-content2 {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0;
    // border: 1px solid red;
    display: flex;

    .content2-card {
        width: 400px;
        height: 237px;
        // border: 1px solid blue;
        
        .card {
            height: 125px;
            background-position: center top;
            background-size: auto 125px;
        }
        
        .glacia {
            // width: 125px;
            background: url('../assets/glacia_logo.svg') no-repeat;
            background-position: center;
        }
        .terra {
            background: url('../assets/terra_logo.svg') no-repeat;
            background-position: center;
        }
        .hydra {
            background: url('../assets/hydra_logo.svg') no-repeat;
            background-position: center;
        }

        .card-content {
            margin-top: 1em;
            text-align: center;
            line-height: 1.5em;
            font-weight: 300;
        }
    }
}