@import '../styles/globalVariables.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-wrapper {

  .route-wrapper {
    margin-top: 40px;
    width: 974px; 
    height: 117vh;
    margin: 0 auto;
  }

  .nav-wrapper {
    width: 974px;
    margin: 0 auto;
  }
  .xp-wrapper {
    margin-top: 40px;
    height: 117vh;
 
  }
}