.ab-content-wrapper {
    margin-bottom: 150px;

    h1 {
        text-align: center;
    }

    p {
        font-size: 13px;
        color: #111111;
        font-family: Arial, Helvetica, sans-serif
    }
}