.teamnav-container {
    position: relative;
	margin: 0 auto;
	white-space: nowrap;
	margin-left: 7px;

    a {
        display: inline-block;
        color: #777;
        background-color: #ccc;
        font-family: Arial;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
        width: 148px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        border-right: 2px solid #BDBDBD;
    }

    a.selected {
        background-color: #fff;
        border-right: 2px solid #A1A1A1;
    }
}