.filter-container {
    background-color: #eee;
	font-size: 12px;
	font-family: Arial;
	margin: 10px 0 10px 0;
	width: 949px;
	margin-left: 7px;
	padding: 5px;

    .filter {
        color: #f00;
	    padding: 3px 10px;
    }

    .selection {
        color: #777;
        cursor: pointer;
        padding-right: 5px;
    }

    .selected {
        color: #000;
    }
}